HABAHABAHABA
{{user}}
{{newFrame}}

    <button class="btn" ng-click="open()">Add frame</button>
    <label>Composition
        <select ng-options="comp.name for comp in user.compositions" ng-model="currentComp"></select>
    </label>

    <div resizable-draggable ng-repeat="frame in currentComp.frames" class="outer" ng-style="{'left':frame.positionX, 'top':frame.positionY, 'position': 'absolute', 'width':frame.width, 'height':frame.height}">
        <iframe frameborder="0" src="{{trustSrc(frame.streamSource)}}" ng-style="{'width':frame.width - 30, 'height':frame.height - 30}">
        </iframe>
    </div>
