HABAHABAHABA
{{user}}
<div ng-controller="MainCtrl">
    <select ng-options="comp as comp.name for comp in user.compositions" ng-model="composition"></select>
    <div resizable-draggable ng-repeat="frame in composition.frames" class="outer" ng-style="{'left':frame.positionX, 'top':frame.positionY, 'position': 'absolute', 'width':frame.width, 'height':frame.height}">
        <iframe frameborder="0" src="{{trustSrc(frame.streamSource)}}" ng-style="{'width':frame.width - 30, 'height':frame.height - 30}">
        </iframe>
    </div>
</div>