<!--<pre>{{fullJson | json}}</pre>-->
<div id="saveMessage"><span>Save</span></div>
<div id="box" ng-class="menuClass">
    <ul id="tab">
        <li>
            <img id="arrow" ng-click="toggle('arrow');" ng-src="{{arrow}}"/>
        </li>
    </ul>
    <div id="buttons">
        <div id="deco">
            <button ng-show="currentComp != null" class="bt" ng-click="edit()">Edit</button>
            <button ng-show="currentComp != null" class="bt" ng-click="openModalAddFrame(fullJson.sources)">Add frame</button>
            <ANY ng-if="fullJson.canEdit == true">
                <ANY ng-if="currentComp != null">
                    <button class="bt" ng-click="deleteComp()">Delete comp</button>
                    <button class="bt" ng-click="renameComp()">Rename comp</button>
                </ANY>
                <button class="bt" ng-click="saveJson()">Save</button>
                <button class="bt" ng-click="addComp()">Add composition</button>
            </ANY>
            <label>Composition
                <select ng-options="comp.name for comp in fullJson.user.compositions"
                        ng-model="currentComp"
                        ng-change="updateComp()"></select>
            </label>
            <ANY ng-if="fullJson.isLogged == true">
                <button ng-if="fullJson.canEdit == false && currentComp != null" class="bt" ng-click="copyComp()">Copy
                </button>
                <button class="bt" ng-click="logOut()">Logout</button>
                <label>
                    Autosave
                    <input type="checkbox" ng-model="fullJson.user.autoSave">
                </label>
            </ANY>
            <button ng-if="fullJson.isLogged == false" class="bt" ng-click="logIn()">Login</button>
        </div>
    </div>
</div>


<div ng-repeat="frame in currentComp.frames" class="outer">
    <div ng-include="getSourceTemplate(frame.sourceType, frame.type)"/>
    <div id="edit{{currentComp.frames.indexOf(frame)}}" resizable-draggable class="bar"
         ng-model="currentComp.frames[currentComp.frames.indexOf(frame)]"
         ng-style="{left:frame.positionX, top:frame.positionY, position: 'absolute', width:frame.width, height:frame.height}"
         frame="frame"
         ng-show="editable">
        <button class="close" style="font-size: 30px; padding: 10px;"
                ng-click="$parent.close(currentComp.frames, $index)">X
        </button>
    </div>
</div>
