<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <span class="text-error">{{message}}</span>

    <input class="form-control" placeholder="Username" ng-model="loginData.userName">
    <input type="password" class="form-control" placeholder="Password" ng-model="loginData.password">

    <button class="btn-first btn btn-large btn-primary btn-block btn-signin" ng-click="login()">Login</button>
    <button class="btn btn-large btn-primary btn-block btn-signin" ng-click="goToReg()">Register</button>
</form>