<form>
    <div class="modal-body">
        <label>Source
            <input type="text" ng-model="newFrame.streamSource"/>
        </label>
        <label>Sources
            <select ng-options="source.source for source in sources track by source.value" ng-model="newFrame.sourceSite"></select>
        </label>
        <label>Stream or chat
            <select ng-model="newFrame.type">
                <option value="stream">Stream</option>
                <option value="chat">Chat</option>
            </select>
        </label>
    </div>
    <span>{{newFrame}}</span>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <input type="submit" ng-click="submit(newFrame)" class="btn primary-btn" value="Submit" />
    </div>
</form>