<form class="form-signin">
    <h2 class="form-signin-heading">Sign up</h2>
    <span class="text-error">{{message}}</span>
    <input class="form-control" placeholder="Username" ng-model="registration.userName">
    <input type="password" class="form-control" placeholder="Password" ng-model="registration.password">
    <input type="password" class="form-control" placeholder="Confirm password" ng-model="registration.confirmPassword">
    <button class="btn-first btn btn-large btn-primary btn-block" ng-click="signUp()">Register</button>
</form>