iframe {
    display: block;
    position:relative;
    padding: 0;
    border: none;
    top: 15px;
    left: 15px;
}
.outer {
    position: absolute;
    display:block;
    background-color:yellow;
}
