iframe {
    display: block;
    position:absolute;
    padding: 0;
    border: none;
    top: 0;
    left: 0;
}
.outer {
    display:block;
}
.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.5;
}
.ui-resizable {
    position: absolute;
}
.ontop{
    z-index: 2;
}
.onbottom {
    z-index: 1;
}
