iframe {
    display: block;
    position:relative;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    top: 10px;
    left: 10px;
}
.outer {
    position: absolute;
    display:block;
    background-color:yellow;
}
